/* BODY */
body {
    background: lightgrey;
    font-family: 'Poppins', sans-serif;
}

p {
    /* margin: 10px 25px 10px 0px; */
    line-height: 30px;
}

h1 {
    color: lightseagreen;
    font-weight: bold;
    font-size: 30px;
    padding: 20px 0px 0px 0px;
}


/* NAVIGATION */
.navigation {
    background: white;
    font-size: 16px;
}

.nav-link {
    color: lightseagreen;
    text-decoration: none;
}

.col-sm-12 {
    background: lightseagreen;
}

.col-sm-8 {
    background: white;
}


/* IMAGES */
img {
    float: left;
    margin: 10px 25px 25px 0px;
}


/* FORM */
/* form {
    padding: 30px;
} */


.card-title {
    position: relative;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    background: lightseagreen;
    opacity: 70%;
    color: white;
    padding: 10px;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}


/* FOOTER */
footer {
    background: #666;
    color: #fff;
    text-align: center;
    margin-top: 100px;
    padding: 20px;
}

.social {
    font-size: 24px;
    color: white; 
    text-decoration: none;
    
}

.social a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.social a:hover {
    color: lightseagreen;
}