body {
    background: lightgrey;
    font-family: 'Poppins', sans-serif;
}

.navbar-brand {
    background: lightseagreen;
    padding: 10px;
}

.navbar-nav {
    justify-content: right;
}

.card {
    width: 60%;
    margin: 20px 40px; 
}

.card-header {
    color: lightseagreen;
    font-weight: bold;
    font-size: 30px;
}

img {
    float: left;
    margin: 10px 25px 100px 0px;
}

p {
    margin: 10px 25px 10px 0px;
    line-height: 30px;
}

/* .btn btn-primary {
    background: teal;
} */

form {
    padding: 30px;
}

footer {
    background: #666;
    color: #fff;
    text-align: center;
    margin-top: 100px;
    padding: 20px;
}

.social {
    font-size: 24px;
    color: white; 
    text-decoration: none;
    
}

.social a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.social a:hover {
    color: lightseagreen;
}