body {
    background: #fff;
    font-family: 'Poppins', sans-serif;
}

.navbar-brand {
    background: teal;  
    padding: 10px;
}

.navbar-nav {
    justify-content: right;
}

.card {
    width: 60%;
}

.card-header {
    color: teal;
    font-weight: bold;
    font-size: 30px;
}

img {
    float: left;
    margin: 10px 25px 100px 0px;
}

p {
    margin: 10px 25px 10px 0px;
    line-height: 30px;
}

/* .btn btn-primary {
    background: teal;
} */

footer {
    background: #666;
    color: #fff;
    text-align: center;
    margin-top: 100px;
    padding: 20px;
}